/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 300px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 300px;
}

@media screen and (max-width: 48em) {
  html {
    font-size: 12px;
  }
}
